@page
@model WebApp.Pages.Sced.CostsModel

@{
    ViewData["Title"] = "Costs";
}

<div class="mt-3 ml-5">
    <div class="row">
        <div class="col-md-2">
            <label for="startDate">Start Date</label>
            <input type="date" name="startDate" id="startDate" />
        </div>
        <div class="col-md-2">
            <label for="endDate">End Date</label>
            <input type="date" name="endDate" id="endDate" />
        </div>
        <div class="col-md-3">
            <label for="generators">Generators</label>
            <select id="generators"
                    name="generators"
                    placeholder="Select Generators"
                    multiple>
            </select>
        </div>
        <div class="col-md-2">
            <label for="revNo">Revision No</label>
            <select id="revNo"
                    name="revNo">
                @*value =0 for dayahead, -1 for latest revision, -2 for other random revision*@
                <option value="0">Latest</option>
                <option value="-1">0(zero)</option>
                <option value="-2">Others</option>
            </select>
        </div>
        <div class="col-md-1">
            <label for="otherRevNo" id= "otherRevNoLbl" hidden>Type Rev No</label>
            <input type="number"  name="otherRevNo" id="otherRevNo" hidden/>
        </div>
        <div class="col-md-2 align-self-center mt-4">
            <button type="button" class="btn btn-primary" id="submitBtn">
                Submit
            </button>
        </div>
    </div>
    <div id="errorDiv"></div>
    <div>
        <div id="plotsWrapper"></div>
    </div>
    <div id="spinner"></div>
</div>

@section Scripts {
    @*<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>*@

    <link rel="stylesheet" href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006288/BBBootstrap/choices.min.css?version=7.0.0">
    <link rel="stylesheet" href="~/js/dashboard/costs.css" />
    <script src="~/js/dashboard/node_modules/plotly.js-dist/plotly.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006273/BBBootstrap/choices.min.js?version=7.0.0"></script>
    <script src="~/js/dashboard/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/dashboard/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dashboard/node_modules/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/js/dashboard/node_modules/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/js/dashboard/node_modules/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/js/dashboard/node_modules/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/js/dashboard/node_modules/jszip/dist/jszip.min.js"></script>
    <script src="~/js/dashboard/node_modules/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/js/dashboard/node_modules/pdfmake/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.2/js/dataTables.fixedHeader.min.js" type="text/javascript"></script>
    <script src="~/js/dashboard/dist/costsPgIndex.js"></script>


}