@using Microsoft.AspNetCore.Identity;
@using Core.Entities;
@using Application.Users;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Users/Details">My Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Sced/Monitor">Monitor</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Sced/SchOpt">SchOpt</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Sced/Costs">Costs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Sced/Summary">Summary</a>
    </li>
}
