@using Microsoft.AspNetCore.Identity;
@using Core.Entities;
@using Application.Users;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole(SecurityConstants.AdminRoleString))
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-page="/Users/Index">Users</a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link text-light" asp-page="/Sced/Static">Static Data</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-page="/Sced/ScedStackedBar">SCED</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-page="/Sced/SchOpt">SchOpt</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-page="/Sced/Costs">Costs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-page="/Sced/Summary">Summary</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-page="/Sced/MetricsData">Metrics Data </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-page="/Sced/SMP">SMP Data </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-page="/Sced/Revisions">Revisions </a>
    </li>
}
